
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--===============================================================================================-->
    <link href="~/Login_v6/css/main.css" rel="stylesheet" />
    <link href="~/Login_v6/css/util.css" rel="stylesheet" />

    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-85 p-b-20">
                <form class="login100-form validate-form" method="post">
                   
                    <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="Enter username">
                        <input class="input100" type="text" name="UserName">
                        <span class="focus-input100" data-placeholder="Kullanıcı adı"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                        <input class="input100" type="password" name="Password">
                        <span class="focus-input100" data-placeholder="Şifre"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Giriş
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
